.header__logo {
    width: 142px;
    padding-bottom: 40px;
}

@media screen and (max-width:425px) {
    .header__logo {
        width: 104px;
        padding-bottom: 32px;
        padding-left: 8.438vw;
    }
}