.place__delete {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    transition: opacity 0.3s linear;
}

.place__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}