.profile__name {
  margin: 20px 8px 0 0;
  width: 300px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@media screen and (max-width: 425px) {
  .profile__name {
    margin: 0px 9px 0 27px;
    width: 189pxpx;
    font-size: 27px;
    line-height: 32px;
  }
}
