.profile__description {
  margin: 0;
  margin-top: 8px;
  max-width: 282px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@media screen and (max-width: 425px) {
  .profile__description {
    font-size: 14px;
    line-height: 16px;
  }
}
