.popup__window {
  margin-left: 39px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

@media screen and (max-width: 550px) {
  .popup__window {
    margin: 0;
    width: calc(100% - 38px);
    flex-direction: column-reverse;
  }
}
